header{
    background-color:#333;
    padding:15px 15px;
    height: 39px;
}
.container{
    margin:0 auto;
    max-width:1840px;
    width:100%;
}
.container nav {
    display: block;
    width: 261px;
    margin: -27px 0 0 auto;
}
.container nav a {
    color: white;
    text-decoration: none;
    margin: 0 4px;
}

.banner {
    padding: 150px 0px;
    background: url("../img/intro.jpg");
    background-size: cover;
}
.banner h1 {
    font-size: 47px;
    color: #fafafa;
    text-transform: uppercase;
    display: block;
    width: 463px;
    margin: 0 auto;
    text-align: center;
}
.banner p {
    display:block;
    width:234px;
    color:#fafafa;
    font-style:italic;
    margin:20px auto;

}